<div>
  <ul>
    <li> <a *ngIf="!readSessionStorage()" routerLink="/Login"> {{ 'Login'| translate }} </a></li>
    <li> <a *ngIf="readPermission()" routerLink="/file"> {{ 'File Edit'| translate }}</a></li>
    <li> <a *ngIf="readSessionStorage()" routerLink="/cpu"> {{ 'CPU & Battery'| translate }} </a></li>
    <li> <a *ngIf="readSessionStorage()" routerLink="/hw"> {{ 'HW'| translate }} </a></li>
    <li> <a *ngIf="readSessionStorage()" routerLink="/tree"> {{ 'Tree'| translate }} </a></li>
    <li> <a *ngIf="readSessionStorage()" routerLink="/terminal"> {{ 'Terminal'| translate }} </a></li>
    <li> <a *ngIf="readSessionStorage()" routerLink="/log"> {{ 'Logs'| translate }} </a></li>
    <li> <a *ngIf="readPermission()" routerLink="/add"> {{ 'Add User'| translate }} </a></li>
    <li *ngIf="readSessionStorage()" id="lang">Select Language <select (change)="changeLang($event.target.value)">
        <option>en</option>
        <option>fr</option>
        <option>ml</option>
      </select> </li>
      <li> <a *ngIf="readSessionStorage()" (click)="LogOut()"> {{ 'Logout'| translate }} </a></li>



    <router-outlet></router-outlet>